h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.darkcolor{
    background-color: rgb(249, 179, 191) !important;
}
h1{ font-family: 'Times New Roman', Times, serif;
  
}
h3{
    font-family: 'Times New Roman', Times, serif;
}